<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/cruise_description.css">

    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <title>CRUISE_DESCRIPTION</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <div class="add-project">
                <i class="fas fa-plus"></i>
                add cruise
            </div>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-map-marked-alt"></i>
                    <a href="#" class="button">map</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">profile</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="background">
                <div class="inner-background">
                    <div class="essential-info">
                        <div class="button-and-gallery">
                            <div class="apply-for-spot">
                                <i class="fas fa-plus"></i>
                                apply for spot
                            </div>
                            <div class="gallery">
                                <div class="gallery-sidepanel">
                                    <i class="fas fa-arrow-left"></i>
                                </div>
                                
                                <img src="../img/user.jpg">
                                <div class="gallery-sidepanel">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="captain-and-info">
                            <div class="captain-description">
                                Captain
                            </div>
                            <div href="#" class="profile">
                                <img src="../img/user.jpg">
                                Konrado
                            </div>
                            <div class="cruise-important-information-description">
                                Information
                            </div>
                            <div class="cruise-important-information">
                                <ul>
                                    <li>
                                        Dates
                                    </li>
                                    <li>
                                        Basin
                                    </li>
                                    <li>
                                        Free spots
                                    </li>
                                    <li>
                                        price per person
                                    </li>
                                    <li>
                                        place of embarkation
                                    </li>
                                    <li>
                                        date of embarkation
                                    </li>
                                    <li>
                                        place of disembarkation
                                    </li>
                                    <li>
                                        date of disembarkation
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="detail-information">
                        <div class="detail-information-description">
                            Detail Information
                        </div>
                        <div class="detail-information-content">
                            
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</body>