<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/projects.css">

    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <title>PROJECTS</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
                <li>
                    <i class="fas fa-project-diagram"></i>
                    <a href="#" class="button">projects</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search project">
                    </form>
                </div>
                <div class="add-project">
                    <i class="fas fa-plus"></i>
                    add project
                </div>
            </header>
            <section class="projects">
                <div id="project-1">
                    <img src="../img/uploads/project_smile.jpg">
                    <div>
                        <h2>title</h2>
                        <p>description</p>
                        <div class="social-section">
                            <i class="fas fa-heart"> 600</i>
                            <i class="fas fa-minus-square"> 121</i>
                        </div>
                    </div>
                </div>
                <div>project 2</div>
                <div>project 3</div>
                <div>project 4</div>
            </section>
        </main>
    </div>
</body>