<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/user_profile.css">

    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <title>USER_PROFILE</title>
</head>

<body>
    <div class="base-container">
        <nav class="navbar">
            <div class="add-project">
                <i class="fas fa-plus"></i>
                add cruise
            </div>
            <img src="../img/logo.svg" class="logo">
            <ul>
                <li>
                    <i class="fas fa-map-marked-alt"></i>
                    <a href="#" class="button">map</a>
                </li>
                <li>
                    <i class="fas fa-user"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="button">notifications</a>
                </li>
                <li>
                    <i class="fas fa-hand-point-right"></i>
                    <a href="#" class="button">requests</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="background">
                <div class="inner-background">
                    <div class="picture-and-description">
                        <img src="../img/user.jpg">
                        <div class="opis">
                            <div class="nick">
                                Armado
                            </div>
                            <div class="name-surname">
                                Adrian Aralski
                            </div>
                        </div>
                    </div>
                    <div class="organised-upcoming">
                        <div class="organised-cruises">
                            <div class="organised-cruises-description">
                                Organised Cruises
                            </div>
                            <div class="organised-cruises-list">
                                <ul>
                                    <li>
                                        Mazury
                                    </li>
                                    <li>
                                        Morze Śródziemne
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="upcoming-cruises">
                            <div class="upcoming-cruises-description">
                                Upcoming Cruises
                            </div>
                            <div class="upcoming-cruises-list">
                                <ul>
                                    <li>
                                        Mazury
                                    </li>
                                    <li>
                                        Morze Śródziemne
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="past-friends">
                        <div class="past-cruises">
                            <div class="past-cruises-description">
                                Past Cruises
                            </div>
                            <div class="past-cruises-list">
                                <ul>
                                    <li>
                                        Mazury
                                    </li>
                                    <li>
                                        Morze Śródziemne
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="friends">
                            <div class="friends-description">
                                Friends
                            </div>
                            <div class="friends-list">
                                <ul>
                                    <li>
                                        <img src=../img/user.jpg>
                                        Midimo
                                    </li>
                                    <li>
                                        <img src=../img/user.jpg>
                                        John Con
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </main>
    </div>
        
</body>