
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
    background: whitesmoke;
    margin: 0;
    font-family: 'Playfair Display';
}
.add-project {
    text-decoration: none;
    background: #302618 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin: 1em;
    border-radius: 1.5em;
    color: #B7A677;
    letter-spacing: 0.1em;
    text-align: center;
    width: 30%;
    cursor: pointer;
    padding: 0.5em
}
.base-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*.base-container .navbar .add-project {*/
/*    text-decoration: none;*/
/*    background: #302618 0% 0% no-repeat padding-box;*/
/*    -webkit-box-shadow: 0px 3px 6px #00000029;*/
/*    box-shadow: 0px 3px 6px #00000029;*/
/*    margin-top: 2em;*/
/*    -ms-flex-item-align: center;*/
/*    -ms-grid-row-align: center;*/
/*    align-self: center;*/
/*    border-radius: 1.5em;*/
/*    color: #B7A677;*/
/*    letter-spacing: 0.1em;*/
/*    text-align: center;*/
/*    width: 80%;*/
/*    cursor: pointer;*/
/*}*/

.base-container .navbar .add-project > i {
    padding: 0.5em 1em;
}

.base-container .background {
    background-color: #B7A677;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}

.base-container .background .inner-background {
    background-color: whitesmoke;
    width: 95%;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display';
    color: #302618;
    align-items: center;
    height: fit-content;
}
.base-container .background .inner-background form{
    display: flex;
    flex-direction: column;



}
body .base-container .background .inner-background form{
    width:100%;
    margin:3em;
}
button {
    background: #302618 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 2em;
    align-self: center;
    border-radius: 1.5em;
    color: #B7A677;
    letter-spacing: 0.1em;
    text-align: center;
    width: 40%;
    height: 50px;
    cursor: pointer;
    font-family: 'Playfair Display';
}
input,textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B7A677;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (min-width: 790px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 18px;
    }
    body .base-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 100vh;
    }
    body .base-container .navbar {
        width: 20vw;
        height: 100%;
        position: fixed;
    }
    body .base-container .navbar ul li i {
        margin-right: 1em;
    }
    body .base-container main {
        margin-left: 20vw;
        width: 80vw;
        height: 100%;
    }
    body .base-container .background {
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 100%;
    }
    body .base-container .background .inner-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Playfair Display';
        color: #302618;
    }
    body .base-container .background .inner-background form{
        width:100%;
        margin:3em;
    }
    button {
        background: #302618 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        margin-top: 2em;
        align-self: center;
        border-radius: 1.5em;
        color: #B7A677;
        letter-spacing: 0.1em;
        text-align: center;
        width: 40%;
        height: 50px;
        cursor: pointer;
        font-family: 'Playfair Display';
    }
    .desc{
        margin-top: 1em;
        margin-left: 1em;
    }
    input,textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #B7A677;
        padding: 1em;
        margin: 1em;
        width: 50%;
    }


}