@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    background: whitesmoke;
    margin:0;
    font-family: 'Playfair Display';

}
.base-container{
    display: flex;
    height: auto;
    flex-direction: column;
    .navbar
    {
        background: transparent linear-gradient(180deg, #346795 0%, #1A3168 100%) 0% 0% no-repeat padding-box;
        padding: 1em;
        display:flex;
        place-content: space-between;
        flex-direction: column;
        box-shadow: 0px 3px 6px #00000029;
        .add-project {
            background: #302618 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            margin-top: 2em;
            align-self: center;
            border-radius: 1.5em;
            color: #B7A677;
            letter-spacing: 0.1em;
            text-align: center;
            width: 80%;
            cursor: pointer;
        }
        
        .add-project>i {
            padding: 1em 1em;
        }
        .logo{
            width: 200px;
            margin: 2em auto;

        }
        ul{
            list-style-type: none;
            font: normal normal normal 20px/27px TimesNewRoman;
            letter-spacing: 0.72px;
            color: whitesmoke;
            height: 100%;
            width: calc(100% - 40px);
            position: relative;
            margin: 0 auto;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                text-align: left;
                color: whitesmoke;
                margin-bottom: 1em;
                i {
                    font-size: 1.5em;
                    align-self:center;
                    width:15%
                }
                a {
                    text-decoration: none;
                    display: inline-block;
                    line-height: 2em;
                }
                .button {
                    border-bottom: 1px solid whitesmoke;
                    letter-spacing: 0.72px;
                    color: whitesmoke;
                    padding: 0.2rem;
                    width: 100%;
                }
            }
        }

    }
    main{
        .background{
            background-color: #B7A677;
            display: flex;
            justify-content: center;
            overflow: auto;
            .inner-background{
                background-color: whitesmoke;
                width: 95%;
                box-shadow: 0px 3px 6px #00000029;
                display:flex;
                flex-direction: column;
                .notifications{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .notifications-description{
                        margin-top: 3em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50%;
                        padding: 0.5em;
                        background: #B7A677 0% 0% no-repeat padding-box;
                        color: #302618;
                    }
                    .notifications-list{
                        width:80%;
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0.5em;
                        box-shadow: 0px 3px 6px #00000029;
                        justify-content: center;
                        margin-bottom: 3em;
                        ul{
                            list-style-type: none;
                            width:95%;
                            padding:0;
                            li{
                                display:flex;
                                flex-direction: column; 
                                padding: 0.3em;
                                margin: 0.3em;
                                box-shadow: 0px 3px 6px #00000029;
                                color: #302618;
                                
                                .ex{
                                    display: flex;
                                    width: 100%;
                                    justify-content: right;
                                    cursor: pointer;
                                }
                                .texts-and-stuff{
                                    display:flex;
                                    flex-direction: row;
                                    padding: 0.3 em;
    
                                
                                .texts{
                                    width:80%;
                                }
                                .stuff{
                                    width:20%;
                                    display:flex;
                                    flex-direction: row;
                                    justify-content: right;
                                    
                                    .no{
                                        i{
                                            margin:0.3em;
                                            cursor: pointer;
                                            color: indianred;
                                        }
                                        
                                    }
                                    .yes{
                                        i{
                                            margin:0.3em;
                                            cursor: pointer;
                                            color:green;
                                        }
                                    }
                                    
                                    
    
                                }
                            }
                                    
                            }
                            
                        }
                    }
            
                }
                
                
    
            }
        }
    }

    
}

@media only screen and (min-width: 768px) {
    body{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        font-size: 18px;
    }
    .base-container{
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        height: 100vh;
        .navbar{
            width: 20vw;
            height:100%;
            position:fixed;
            ul{
                li{
                    i{
                        margin-right:1em;
                    }
        
                }
            }
        }
        main{
            width:80vw;
            margin-left: 20vw;
            height: 100%;
        .background{
            justify-content: right;
            flex-direction: row;
            height: 100%;
        }
    }
    }
    
}